html, body {
	background: repeating-linear-gradient(
    45deg,
    #c6a513,
    #c6a513 3px,
    #6d0000 3px,
    #6d0000 9px,
    #c6a513 9px,
    #c6a513 10px,
    #6d0000 10px,
    #6d0000 30px)
}

body {
	background: white;
    font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
    line-height: 1.8;
    margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	width: 80%;
}

h1 {
    font: 3.2em Georgia, Verdana, sans-serif;
    font-weight: bold;
	margin-bottom: .4em;
    margin-top: .2em;
    text-align: center;
}

h2 {
	font: 2em Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
	margin-bottom: .2em;
}

h3 {
	font: 1.5em Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}

h4 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}


#navbar ul{
    background-color: #333;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#navbar li {
    border-right: 1px solid #bbb;
    float: left;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: #111;
}

#bookcovers {
    display: block;
    align-content: center;
}

footer {
	border-top: 1px solid gray;
	text-align: center;
	font-size: .8em;
	line-height: 4em;
	margin-top: 1em;
}


.fact_box {
    display: block;
    background: #8a744e;
    width: 600px;
    color: #000;
    font-size: .8em;
}

.fact_box .header {
    background: #692c00;
    color: #fff;
    text-align: center;
    font-weight: 700;
    text-transform: none!important;
    font-size: 1.2em;
}

.fact_box .data {
    background: #6d0000;
    color: white;
    width: 100%;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 8px;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
}

.fact_box .data span {
    float: right;
    text-align: right;
    text-transform: none;
    font-weight: 400;
}

.fact_box .data:nth-child(even) {
    background: #c6a513;
    color: #000;
}

.fact_box_right {
    display: block;
    background: #8a744e;
    float: right;
    width: 600px;
    color: #000;
    font-size: .8em;
}

.fact_box_right .header {
    background: #692c00;
    color: #fff;
    text-align: center;
    font-weight: 700;
    text-transform: none!important;
    font-size: 1.2em;
}

.fact_box_right .data {
    background: #6d0000;
    color: white;
    width: 100%;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 8px;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
}

.fact_box_right .data span {
    float: right;
    text-align: right;
    text-transform: none;
    font-weight: 400;
}

.fact_box_right .data:nth-child(even) {
    background: #c6a513;
    color: #000;
}

.flowRight {
	float: right;
	margin-left: 10px;
}



.fact_box_slytherin {
    display: block;
    background: #AAAAAA ;
    width: 600px;
    color: #000;
    font-size: .8em;
}

.fact_box_slytherin .header {
    background: #1d3c0e;
    color: #fff;
    text-align: center;
    font-weight: 700;
    text-transform: none!important;
    font-size: 1.2em;
}

.fact_box_slytherin .data {
    background: #1d3c0e;
    color: white;
    width: 100%;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 8px;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
}

.fact_box_slytherin .data span {
    float: right;
    text-align: right;
    text-transform: none;
    font-weight: 400;
}

.fact_box_slytherin .data:nth-child(even) {
    background: #AAAAAA;
    color: #000;
}
